.background {
    background: url("../images/background.jpg");
    background-size: cover;
    width: 100%;
}

.container {
    width: 1063px;
    margin: 0 auto;
    font-family: Verdana;
    color: #fff;
}

.containerLogo {
    font-family: Verdana;
    color: #fff;
    margin-top: 48px;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #fff;
}

.logoName {
    display: flex;
    justify-content: space-between;
}

.imgHover {
    position: relative;
    right: 51px;
    opacity: 0;
}

.title {
    position: relative;
    right: 40px;
    top: 2px;
}

.nameBigSize {
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    margin-left: -1px;
}

.nameSmallSize {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}


.emailContact, .telNumber {
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.logoTitle {
    display: flex;
}

.logoTitle:hover a {
    color: #f26522;
    opacity: 1;
    transition: 0.5s;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    text-align: center;
    justify-content: space-between;
}

.imgItems {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
    box-shadow: 0px 17px 24px 0px #000000;
}

.dropContent {
    display: grid;
    background-color: #f26522;
    width: 312px;
    height: 61px;
    align-content: space-around;
    grid-template-columns: auto auto auto;
    position: relative;
    bottom: 65px;
    opacity: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

a.nameTour {
    font-size: 18px;
    color: white;
    position: relative;
    bottom: 40px;
    padding-top: 25px;
}


.priceForm {
    font-family: Verdana;
    color: #ffffff;
    font-size: 10px;
    margin-left: 10px;

}

.price {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
    margin-left: 10px;
}

.details {
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    margin-top: 16px;
    margin-right: 15px;
}

.shopping-tours:hover a {
    color: #f26522;
    transition: 0.5s;
}

.sightseeing-tours:hover a {
    color: #f26522;
    transition: 0.5s;
}

.food-tours:hover a {
    color: #f26522;
    transition: 0.5s;
}

.bars-nightlife:hover a {
    color: #f26522;
    transition: 0.5s;
}

.art-architecture:hover a {
    color: #f26522;
    transition: 0.5s;
}

.walking-tours:hover a {
    color: #f26522;
    transition: 0.5s;
}

.shopping-tours:hover .dropContent {
    opacity: 1;
}

.sightseeing-tours:hover .dropContent {
    opacity: 1;
}

.food-tours:hover .dropContent {
    opacity: 1;
}

.bars-nightlife:hover .dropContent {
    opacity: 1;
}

.art-architecture:hover .dropContent {
    opacity: 1;
}

.walking-tours:hover .dropContent {
    opacity: 1;
}

footer {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}




